<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidy.azsecuer">

    <!-- 拨号权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 读取SDCard权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <!-- WIFI权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 杀死进程权限 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.CommunicationActivity" />
        <activity android:name=".activity.CommunicationNumberActivity" />
        <activity android:name=".activity.FileManagerActivity" />
        <activity android:name=".activity.PhoneManagerActivity" />
        <activity android:name=".activity.SDCleanActivity" />
        <activity android:name=".activity.PhoneRocketActivity" />
        <activity android:name=".activity.SoftManagerActivity" />
        <activity android:name=".activity.SoftManagerInfoActivity" />
        <activity android:name=".activity.FileManagerBrowseActivity"></activity>
    </application>

</manifest>